@import "tailwindcss";

@theme {
  --color-cremeria-blue: #3A9EBA;
  --color-cremeria-navy: #1B2B4A;
  --color-cremeria-cream: #F2E8D5;
  --color-cremeria-red: #A82C2D;

  --color-dj-black: #0D0D0D;
  --color-dj-silver: #D1D1D1;
  --color-dj-gray: #333333;
  --color-dj-red: #E50000;
}

/* No necesitas agregar más aquí.
   Todo el diseño lo manejaremos con las clases de Tailwind en tus componentes. */
